:root {
    /* Fonts */
    --main-font: 'Montserrat', sans-serif;

    /* Colors */
    --black: #111111;
    --orange: #FD9222;
    --violet: #1E1823;
    --white: #FFF;
    --gray: #FAFAFA;
    --light-orange: #FCF1E0;
    --red: #E74A3B;
    --dark-gray: #4C4C4C;
    /* RGBA collors */
    --rgba-dark-gray: 17, 17, 17;
    --rgba-white: 255, 255, 255;
    --rgba-gray: 64, 64, 64;
    --rgba-black: 0, 0, 0;

    /* Container device width options */
    --mobile-container-width: 335px;
    --tablet-container-width: 704px;
    --desktop-container-width: 1136px;

    /* Container configurations */
    --container-width: var(--mobile-container-width);
    --container-side-padding: 15px;
    --container-max-width: calc(var(--container-width) + var(--container-side-padding) * 2);

    /* Transition */
    --transition-time: 300ms;
    --transition-function: ease-in-out;

    /* Background Images */
    --hero-background-image-1x: url(../images/hero/chocolate-hero-mobile.jpg);
    --hero-background-image-2x: url(../images/hero/chocolate-hero-mobile-2x.jpg);
    --hero-background-image-3x: url(../images/hero/chocolate-hero-mobile-3x.jpg);
    --hero-background-image: var(--hero-background-image-1x);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    /* To remove default bottom gap of 4px */
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: var(--main-font);
    background-color: var(--gray);
}

button {
    border: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    cursor: pointer;
    padding: 0;
    color: currentColor;
    outline: none;
    background-color: transparent;
}

input {
    font-family: inherit;
    outline: none;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.container {
    /* use 100% of the page id the width is smaller then max width */
    width: 100%;
    /* content width + 15px for each side (left and right) */
    max-width: var(--container-max-width);
    padding: 0 var(--container-side-padding);
    /* Center content inside the container */
    margin: 0 auto;
}

.link {
    text-decoration: none;
    outline: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-bottom: 80px;
}

.section-title {
    color: var(--black);
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
}

.section-title-accent {
    color: var(--orange);
}

.no-scroll {
    overflow: hidden;
}

/** -------------------- HEADER -------------------- */

.header {
    position: sticky;
    top: -16px;
    z-index: 3;
    background-color: rgba(250, 250, 250, 0.9);
}

.header-container {
    display: flex;
    align-items: center;
    gap: 48px;
}

.header-navigation {
    display: flex;
    /* Make header to take the most of the space */
    flex-grow: 1;
    /* Align content to have an even space between */
    justify-content: space-between;
}

.header-logo {
    color: var(--black);
    font-weight: 700;
    letter-spacing: -0.03em;
    text-shadow: 0px 4px 4px rgba(var(--rgba-black), 0.25);
    /* Align logo icon to be in center */
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.29;
    padding-top: 24px;
    padding-bottom: 18px;
}

.header-logo-icon {
    margin-left: 4px;
    width: 21px;
    height: 21px;
}

.header-logo-accent {
    font-style: italic;
}

.header-menu,
.header-socials {
    display: none;
}

.menu-open-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
}

.menu-open-icon {
    stroke: var(--black);
    transition: width var(--transition-time) var(--transition-function);
}

.menu-open-button:is(:hover, :focus) .menu-open-icon {
    width: 24px;
    height: 16px;
}

/** -------------------- Menu -------------------- */

.menu.is-hidden {
    transform: translate(0, -100%);
}

.menu {
    background-color: #1E1823;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition:
        opacity 500ms var(--transition-function),
        visibility 500ms var(--transition-function),
        transform 500ms var(--transition-function)
}

.menu-close-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 88px;
    width: 28px;
    height: 28px;
}

.menu-close-icon {
    stroke: var(--white);
    transition: stroke var(--transition-time) var(--transition-function);
}

.menu-close-button:is(:hover, :focus) .menu-close-icon {
    stroke: var(--orange);
}

.menu-list {
    flex-grow: 1;
    align-self: center;
}

.menu-item {
    margin-bottom: 24px;
}

.menu-link {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    transition: color var(--transition-time) var(--transition-function);
}

.menu-link:is(:hover, :focus) {
    color: var(--orange);
}

.socials {
    display: flex;
    gap: 12px;
    position: absolute;
}

.socials-icon {
    stroke: var(--white);
    transition: stroke var(--transition-time) var(--transition-function);
}

.socials-link:is(:hover, :focus) .socials-icon {
    stroke: var(--orange);
}

/** -------------------- HERO -------------------- */

.hero {
    padding-bottom: 79px;
}

.hero-container {
    background-color: rgba(var(--rgba-dark-gray), 0.60);
    background-image:
        linear-gradient(180deg, rgba(var(--rgba-dark-gray), 0.00), rgba(var(--rgba-dark-gray), 0.40)),
        var(--hero-background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    /* Set padding around container */
    padding: 395px 20px 20px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    :root {
        --hero-background-image: var(--hero-background-image-2x)
    }
}

@media (min-device-pixel-ratio: 3),
(min-resolution: 288dpi),
(min-resolution: 3dppx) {
    :root {
        --hero-background-image: var(--hero-background-image-3x)
    }
}

.hero-title {
    color: var(--white);
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    /* Set title width */
    max-width: 484px;
    margin-bottom: 32px;
    font-size: 20px;
}

.hero-buttons {
    /* Make buttons to display in the same line */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
}

.hero-button {
    background: var(--orange);
    color: var(--white);
    font-size: 14px;
    font-family: inherit;
    font-weight: 600;
    border-radius: 100px;
    border: none;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
    transition-property: color, background-color;
    padding: 12px 28px;
}

.hero-button:is(:hover, :focus) {
    background-color: var(--light-orange);
    color: var(--orange);
}

.hero-link {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    border-radius: 100px;
    border: 1px solid currentColor;
    transition: color var(--transition-time) var(--transition-function);
    padding: 12px 28px;
    text-align: center;
}

.hero-link:is(:hover, :focus) {
    color: var(--orange);
}

.hero-down {
    color: var(--white);
    font-weight: 500;
    letter-spacing: -0.03em;
    /* Shift button to the right side */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color var(--transition-time) var(--transition-function);
    gap: 12px;
    font-size: 12px;
    line-height: 1.17;
}

.hero-down:is(:hover, :focus) {
    color: var(--orange);
}

.hero-down-arrow {
    background-color: currentColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
}

.hero-down-icon {
    fill: var(--orange);
    transition: fill var(--transition-time) var(--transition-function);
    width: 16px;
    height: 16px;
}

.hero-down:is(:hover, :focus) .hero-down-icon {
    fill: var(--white);
}

/** -------------------- ADVANTAGES -------------------- */

.advantages {
    background: var(--violet);
    padding: 20px 0 36px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
}

.advantages-item {
    position: relative;
    width: 100%;
}

.advantages-icon-container {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid rgba(var(--rgba-white), 0.50);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}

.advantages-icon {
    fill: var(--orange);
}

.advantages-item-title {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
}

.advantages-item-description {
    color: rgba(var(--rgba-white), 0.70);
    font-size: 14px;
    letter-spacing: -0.02em;
    max-width: 308px;
}

/** -------------------- Taste -------------------- */

.taste {
    padding-top: 80px;
}

.taste-title {
    /* Center it */
    margin: 0 auto;
    margin-bottom: 28px;
    max-width: 283px;
}

.taste-description {
    color: var(--black);
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    max-width: 486px;
    /* Center it */
    margin: 0 auto;
    margin-bottom: 27px;
}

.taste-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.taste-item {
    border-radius: 15px;
    border: 1px solid var(--orange);
    background: var(--white);
    padding: 32px 28px 28px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.taste-item:nth-child(4n+1) {
    background-color: var(--orange);
}

.taste-item:nth-child(4n+3) {
    background-color: var(--black);
    border-color: var(--black);
}


.taste-item:nth-child(odd) .taste-item-description {
    color: var(--white);
}

.taste-item-arrow-icon {
    display: inline-block;
    position: absolute;
    right: 14px;
    top: 14px;
    stroke: var(--white);
    fill: none;
}

.taste-item:nth-child(even) .taste-item-arrow-icon {
    stroke: var(--orange);
}

.taste-item-image {
    margin: 0 auto 16px;
    width: 236px;
}

.taste-item-description {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.taste-item-cover-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--white);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transform: translateY(101%);
    transition: transform var(--transition-time) var(--transition-function);
    /* Add inner scroll */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 28px;
}

.taste-item:is(:hover, :focus) .taste-item-cover-container {
    transform: translateY(0);
}

.taste-item-cover-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.taste-item-cover-buttons {
    display: flex;
    gap: 6px;
    padding: 8px 0 14px;
}

.taste-item-cover-button {
    padding: 6px 16px;
    font-size: 10px;
    line-height: 1.2;
    border-radius: 35px;
    border: 1px solid var(--orange);
    background: var(--gray);
}

.taste-item-cover-button-type {
    color: var(--white);
    background-color: var(--orange);
}

.taste-item-cover-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--black);
    /* Add inner scroll */
    overflow-y: auto;
}

/** -------------------- Made -------------------- */

.made-image-container {
    position: relative;
    margin-bottom: 20px;
}

.made-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
}

.made-content {
    background-color: var(--white);
    border-radius: 15px;
    padding: 20px 14px;
}

.made-head {
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    padding-bottom: 20px;
}

.made-list-item:not(:last-child) {
    margin-bottom: 18px;
}

.made-list-item {
    padding-left: 16px;
    position: relative;
}

.made-list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 8px;
    height: 8px;
    background-color: var(--dark-gray);
    border-radius: 50%;
    border: 1px solid #ECEDED;
}

.made-list-item-description {
    color: var(--black);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/** -------------------- Products -------------------- */

.products-title {
    margin-bottom: 22px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 22px;
}

.product-item {
    border-radius: 15px;
    border: 1px solid rgba(var(--rgba-dark-gray), 0.10);
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 32px 52px;
}

.product-title {
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.34;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.product-description {
    color: rgba(var(--rgba-dark-gray), 0.70);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.product-button {
    margin-top: 18px;
    border-radius: 100px;
    border: 1px solid rgba(var(--rgba-dark-gray), 0.10);
    background: var(--gray);
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    transition-property: color, background-color, border-color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.product-button:is(:hover, :focus) {
    color: var(--gray);
    background-color: var(--orange);
    border-color: var(--orange);
}

/** -------------------- Top Sellers -------------------- */

.top-sellers-list {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.top-seller-item {
    width: 100%;
}

.top-seller-image-container {
    overflow: hidden;
    position: relative;
    border-radius: 15px 15px 0px 0px;
}

.top-seller-image {
    max-width: 335px;
}

.top-seller-description {
    position: absolute;
    top: 0;
    height: 100%;
    color: var(--gray);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    opacity: 0;
    background: linear-gradient(180deg, rgba(var(--rgba-black), 0.20), rgba(var(--rgba-black), 0.20));
    backdrop-filter: blur(7.5px);
    transition: opacity var(--transition-time) var(--transition-function);
    padding: 187px 20px 0;
}

.top-seller-item:is(:hover, :focus) .top-seller-description {
    opacity: 1;
}

.top-seller-title {
    border-radius: 0px 0px 15px 15px;
    border-right: 1px solid rgba(var(--rgba-dark-gray), 0.10);
    border-bottom: 1px solid rgba(var(--rgba-dark-gray), 0.10);
    border-left: 1px solid rgba(var(--rgba-dark-gray), 0.10);
    background: var(--white);
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.34;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    padding: 24px 0;
}

/** -------------------- Loved -------------------- */

.loved-title {
    margin-bottom: 74px;
}

.loved-title-accent {
    color: var(--orange);
}

.loved-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 60px;
    margin-bottom: 32px;
}

.loved-list-item {
    padding: 56px 24px 24px 24px;
    border-radius: 15px;
    border: 1px solid rgba(var(--rgba-dark-gray), 0.10);
    background: var(--white);
    box-shadow: 0px 9px 100px 0px rgba(var(--rgba-dark-gray), 0.03);
    position: relative;
    width: 100%;
}

.loved-item-image {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loved-list-title {
    color: var(--black);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 24px;
}

.loved-list-description {
    color: rgba(var(--rgba-dark-gray), 0.70);
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.loved-button {
    color: var(--black);
    font-family: inherit;
    font-weight: 600;
    border-radius: 100px;
    border: 1px solid var(--orange);
    display: block;
    margin: 0 auto;
    background-color: transparent;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
    transition-property: color, background-color;
    font-size: 14px;
    padding: 12px 28px;
}

.loved-button:is(:hover, :focus) {
    color: var(--white);
    background-color: var(--orange);
}

/** -------------------- Footer -------------------- */

.footer {
    background: var(--violet);
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-title {
    color: var(--white);
    font-weight: 500;
    letter-spacing: -0.02em;
    max-width: 300px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1.17;
}

.footer-top {
    border-bottom: 1px solid rgba(var(--rgba-white), 0.10);
    padding-bottom: 32px;
    margin-bottom: 32px;
}

.footer-contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 32px;
}

.footer-socials-container,
.footer-contacts-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.footer-socials-title,
.footer-contacts-title {
    color: var(--white);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    margin-bottom: 14px;
}

.footer-address {
    font-style: normal;
}

.footer-address-list-item:not(:last-child) {
    margin-bottom: 4px;
}

.footer-address-link {
    color: var(--white);
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    transition: color var(--transition-time) var(--transition-function);
}

.footer-address-link:is(:hover, :focus) {
    color: var(--orange);
}

.footer-socials-list {
    display: flex;
    /* Space between socials */
    gap: 12px;
}

.footer-socials-item {
    height: 100%;
    width: 100%;
}

.footer-socials-link {
    display: flex;
    height: 100%;
    width: 100%;
}

.footer-socials-icon {
    transition: stroke var(--transition-time) var(--transition-function);
    stroke: var(--white);
}

.footer-socials-link:is(:hover, :focus) .footer-socials-icon {
    stroke: var(--orange);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-navigation {
    margin-bottom: 32px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-menu-link {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    transition: color var(--transition-time) var(--transition-function);
    padding: 18px 0;
}

.footer-menu-link:is(:hover, :focus) {
    color: var(--orange);
}

/*? Subscribe form */

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.subscribe-input-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
}

.subscribe-input {
    background-color: transparent;
    padding: 0px 24px;
    border-radius: 30px;
    border: 1.5px solid rgba(var(--rgba-white), 0.15);
    color: var(--white);
    font-size: 14px;
    letter-spacing: -0.02em;
    transition: border-color var(--transition-time) var(--transition-function);
    width: 100%;
    height: 45px;
}

.subscribe-input-label {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
    transition-property: top, background-color, color, font-size;
}

.subscribe-input:focus+.subscribe-input-label,
.subscribe-input:not(:placeholder-shown)+.subscribe-input-label {
    top: 0;
    background-color: var(--violet);
    color: var(--orange);
    font-size: 15px;
}

.subscribe-input-label,
.subscribe-input::placeholder {
    color: rgba(var(--rgba-white), 0.30);
    font-size: 14px;
    letter-spacing: -0.02em;
}

.subscribe-input::placeholder {
    transition: opacity var(--transition-time) var(--transition-function);
}

.subscribe-input:focus::placeholder {
    opacity: 0;
}

.subscribe-input:is(:hover, :focus) {
    border-color: var(--orange);
}

.subscribe-button {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    background-color: var(--orange);
    border-radius: 100px;
    background: var(--orange);
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
    transition-property: color, background-color;
    padding: 14px 24px;
}

.subscribe-button:is(:hover, :focus) {
    background-color: var(--light-orange);
    color: var(--orange);
}

/** -------------------- Modal -------------------- */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--rgba-gray), 0.5);
    transition: opacity 500ms var(--transition-function), visibility 500ms var(--transition-function);
    z-index: 4;
}

.is-hidden {
    /* Hide it */
    opacity: 0;
    /* Disable focus */
    visibility: hidden;
    /* Disable interaction */
    pointer-events: none;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--gray);
    border-radius: 15px;
    transition: transform 500ms var(--transition-function);
    padding: 32px 24px;
    max-width: 311px;
    width: 100%;
    min-height: 622px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

/*? Modal close */

.modal-close-button {
    position: absolute;
    border: none;
    background: none;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
}

.modal-close-icon {
    stroke: var(--black);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: stroke var(--transition-time) var(--transition-function);
}

.modal-close-button:is(:hover, :focus) .modal-close-icon {
    stroke: var(--orange);
}

/*? Modal title */

.modal-title {
    font-weight: 600;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 32px;
}

.modal-title-accent {
    display: block;
    color: var(--orange);
}

/*? Modal form */

.modal-field {
    width: 100%;
    display: inline-block;
    margin-bottom: 14px;
}

.modal-label {
    display: inline-block;
    color: rgba(var(--rgba-gray), 0.30);
    font-size: 14px;
    letter-spacing: -0.02em;
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    border-radius: 13px;
    border: 1.5px solid rgba(var(--rgba-dark-gray), 0.05);
    box-shadow: 0px 2px 2px 0px rgba(var(--rgba-black), 0.03);
    background-color: transparent;
    color: #404040;
    letter-spacing: -0.02em;
    transition: border-color var(--transition-time) var(--transition-function);
    padding: 0 10px 0 43px;
    height: 46px;
    font-size: 14px;
}

.modal-input:focus {
    border-color: var(--orange);
}

.modal-input:focus+.modal-input-icon {
    stroke: var(--orange);
}

.modal-input::placeholder {
    color: rgba(var(--rgba-gray), 0.30);
    transition: opacity var(--transition-time) var(--transition-function);
}

.modal-input:focus::placeholder {
    opacity: 0;
}

.modal-input:not(:placeholder-shown):invalid {
    border-color: var(--red);
}

/*? Input icon */

.modal-input-icon {
    stroke: var(--black);
    fill: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: stroke var(--transition-time) var(--transition-function);
    width: 18px;
    height: 18px;
    left: 18px;
}

.modal-input:not(:placeholder-shown):invalid+.modal-input-icon {
    stroke: var(--red);
}

/*? Invalid icon */

.modal-input-invalid-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    fill: transparent;
    transition: var(--transition-time) var(--transition-function);
    transition-property: fill;
    right: 18px;
    width: 18px;
    height: 18px;
}

.modal-text-area:invalid+.modal-input-invalid-icon,
.modal-input:invalid+.modal-input-icon+.modal-input-invalid-icon {
    fill: var(--red);
}

/*? Comment */

.modal-comment-wrap {
    margin-bottom: 18px;
}

.modal-text-area {
    resize: none;
    padding: 14px 18px;
    height: 91px;
    outline: none;
}

/*? Terms */

.modal-terms-field {
    margin-bottom: 32px;
}

.modal-terms {
    color: rgba(var(--rgba-gray), 0.60);
    font-size: 14px;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.34;
    flex-wrap: wrap;
    padding-left: 32px;
}

/*? Terms checkbox */

.modal-checkbox {
    position: absolute;
    width: 20px;
    height: 100%;
}

.modal-terms span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid rgba(var(--rgba-dark-gray), 0.14);
    background-color: var(--gray);
    margin-right: 12px;
    fill: transparent;
    transition: var(--transition-time) var(--transition-function);
    transition-property: fill, background-color, border-color;
    position: absolute;
    left: 0;
    top: 0;
}

.modal-checkbox:checked+.modal-terms span {
    background-color: var(--orange);
    fill: var(--white);
}

.modal-checkbox:focus+.modal-terms span {
    border-color: var(--orange);
}

/*? Terms switch */

.modal-terms::before {
    content: '';
    border: 1px solid rgba(var(--rgba-dark-gray), 0.14);
    background-color: var(--gray);
    border-radius: 50px;
    transition: var(--transition-time) var(--transition-function);
    transition-property: background-color, border-color;
    position: absolute;
    left: 0;
    width: 30px;
    height: 20px;
    display: none;
}

.modal-terms::after {
    content: '';
    position: absolute;
    left: 2px;
    background-color: var(--dark-gray);
    border-radius: 50%;
    transition: var(--transition-time) var(--transition-function);
    transition-property: transform, background-color;
    top: 8px;
    width: 16px;
    height: 16px;
    display: none;
}

.modal-checkbox:checked+.modal-terms::after {
    transform: translate(10px);
    background-color: var(--gray);
}

.modal-checkbox:focus+.modal-terms::before {
    border-color: var(--orange);
}

.modal-checkbox:checked+.modal-terms::before {
    background-color: var(--orange);
    border-color: var(--orange);
}

.modal-terms-link {
    color: var(--orange);
}

.modal-submit {
    border-radius: 100px;
    background: var(--orange);
    color: var(--white);
    border: 1px solid var(--orange);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    transition: var(--transition-time) var(--transition-function);
    transition-property: background-color, color;
    padding: 12px 28px;
}

.modal-submit:disabled {
    background-color: var(--light-orange);
    color: var(--orange);
    cursor: not-allowed;
}

.modal-submit:is(:hover, :active, :focus) {
    background-color: var(--light-orange);
    color: var(--orange);
}
